.gradle/
**/.gradle/

local.properties

.idea/
**/.idea/
*.iml

.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

/build/
**/build/
**/release/
**/captures/

**/.externalNativeBuild/
**/.cxx/

**/*.apk

**/*.jks
**/*.keystore

*.log
**/*.log
**/*.hprof
.DS_Store

**/schemas/